CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -std=c99
    - -I./include
    - -I./libs/libft/include
    - -I./libs/MLX42/include
  Remove:
    - -W*
    - -f*

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes